.left-menu {
  width: 200px;
  background-color: #272727;
  position: fixed;
  left: 0;
  top: 50px;
  height: 100%;
  overflow-y: auto;
}

.left-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.left-menu li {
  padding: 0px;
}

.left-menu a {
  text-decoration: none;
  color: #ccc;
  display: block;
  font-size: 18px;
  transition: color 0.3s;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
}

.left-menu a:hover {
  color: #fff;
  background-color: #555252;
}
