<html>
<head>
  <title>Registration - gubgub</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_register.css') }}">
</head>
<body>
    {% if error %}
    <p class="error">{{ error }}</p>
    {% endif %}
    <form method="POST">
      <label>Username:</label>
      <input type="text" name="username" required><br>
      <label>Password:</label>
      <input type="password" name="password" required><br>
      <label>Email:</label>
      <input type="email" name="email" required><br>
      <label>Character Class:</label>
      <select name="character_class" required>
        <option value="Mage">Mage</option>
        <option value="Archer">Archer</option>
        <option value="Warrior">Warrior</option>
      </select><br>
      <input type="submit" value="Register">
    </form>
</body>
</html>
